.h-footer{
    background-color: #9dcf00;
    padding: 20px 0;
    p{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: "Hiragino Sans GB";
        font-weight: bold;
        line-height: 12px;
        a{
            color: #fff;
            text-decoration: none;
            margin-right: 5px;
        }
    }
}