.menu-header{
    .navbar{
        .cntr{
            @include mq(max, $mq_md){
                padding: 0;
            }
        }
        .navbar-toggler{
            display: none;
            @include mq(max, $mq_md){
                display: block;
                background-color: #000;
                border: none;
                cursor: pointer;
                padding: 15px 23px;
                position: relative;
                z-index: 9;
            }
            &.is-toggled{
                padding: 14.4px 22.5px;
                background-color: #464646;
                .navbar-toggler-box{
                    .navbar-toggler-icon{
                        background-color: transparent;
                        &::before{
                            top: 2px;
                            transform: rotate(45deg);
                            transition: linear .3s;
                        }
                        &::after{
                            bottom: -2px;
                            transform: rotate(-45deg);
                            transition: linear .3s;
                        }
                    }
                }
            }
            .navbar-toggler-box{
                width: 15px;
                height: 24px;
                display: inline-block;
                position: relative;
                top: 3px;
                .navbar-toggler-icon{
                    display: block;
                    top: 50%;
                    margin-top: -2px;
                    height: 2px;
                    background-color: #fff;
                    position: relative;
                    &::before, &::after{
                        content: "";
                        display: block;
                        width: 15px;
                        height: 2px;
                        background-color: #fff;
                        position: absolute;
                    }
                    &::before{
                        transition: linear .3s;
                        top: -5px;
                    }
                    &::after{
                        bottom: -5px;
                        transition: linear .3s;
                    }
                }
            }
        }
        .navbar-group{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navbar-brand{
                margin-right: auto;
                display: flex;
                @include mq(max, $mq_md){
                    padding-left: 15px;
                }
                .logo{
                    text-decoration: none;
                    color: #333;
                }
            }
            .navbar-type{
                .navbar-nav{
                    display: flex;
                    align-items: center;
                    @include mq(max, $mq_md){
                        flex-wrap: wrap;
                    }
                    .menu-item{
                        @include mq(max, $mq_md){
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .nav-link{
                            color: #333;
                            display: flex;
                            align-items: center;
                            padding: 20px 20px;
                            text-decoration: none;
                            transition: all .4s ease-in-out;
                            @include mq(max, $mq_md){
                                justify-content: center;
                                color: #fff;
                                padding: 10px 10px;
                            }
                            &:hover{
                                opacity: .8;
                            }
                        }
                    }
                }
                &.navbar-slide-right{
                    @include mq(max, $mq_md){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #000;
                        z-index: 9;
                        transform: translateX(-100%);
                        transition: linear .2s;
                        height: 100vh;
                    }
                    &.is-toggled{
                        transform: translateX(0%);
                        transition: linear .2s;
                    }
                }
                &.navbar-collapse{
                    @include mq(max, $mq_md){
                        background-color: #000;
                        color: #fff;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        transition: linear .2s;
                        display: none;
                        opacity: 0;
                    }
                    &.is-toggled{
                        display: block;
                        opacity: 1;
                        transition: all .4s ease-in-out;
                    }
                }
            }
            
        }
    }
}

.h-menu-header{
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    top: 0;
    .h-top-head{
        background-color: #A9CD00;
        display: flex;
        align-items: center;
        padding: 10px 10px;
        @include mq(max, 490){
            padding: 5px 5px;
        }
        h1{
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            @include mq(max, 490){
                font-size: 12px;
            }
            @include mq(max, 375){
                font-size: 10px;
            }
        }
    }
    .h-nav-menu{
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 15px 15px;
        justify-content: space-between;
        @include mq(max, $mq_md){
            padding: 10px 15px;
        }
        .h-logo{
            a{
                display: flex;
                align-items: center;
                img{
                    width: 215px;
                    @include mq(max, $mq_md){
                        width: 90%;
                    }
                }
            }
        }
        .h-social-phone{
            display: flex;
            align-items: center;
            @include mq(max, $mq_md){
                flex-wrap: wrap;
                width: 300px;
            }
            @include mq(max, 580){
                width: 230px;
                justify-content: space-between;
            }
            @include mq(max, 450){
                width: 200px;
            }
            li{
                margin-right: 10px;
                @include mq(max, $mq_md){
                    margin-right: 0;
                }
                &:first-child{
                    @include mq(max, $mq_md){
                        display: none;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
                &:nth-child(2), &:nth-child(3){
                    @include mq(max, $mq_md){
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin-bottom: 10px;
                    }
                }
                &:nth-child(2){
                    @include mq(max, 580){
                        flex: 0 0 40%;
                        max-width: 40%;
                    }
                    img{
                        @include mq(max, $mq_md){
                            width: 77%;
                        }
                        @include mq(max, 580){
                            width: 100%;
                        }
                    }
                }
                &:nth-child(4){
                    @include mq(max, $mq_md){
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                a{
                    color: #2D1C00;
                    display: inline-block;
                    text-decoration: none;
                    font-family: "Hiragino Sans GB";
                    font-weight: bold;
                    img{
                        @include mq(max, 580){
                            width: 100%;
                        }
                    }
                }
                .h-kakao{
                    .h-kakao-num{
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 24px;
                        position: relative;
                        padding-left: 35px;
                        @include mq(max, 450){
                            font-size: 16px;
                        }
                        @include mq(max, 350){
                            font-size: 13px;
                        }
                        &::before{
                            content: "";
                            background-image: url('../img/icon/icon01.svg');
                            background-repeat: no-repeat;
                            background-size: contain;
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            width: 30px;
                            height: 20px;
                        }
                    }
                    .h-kakao-sched{
                        display: flex;
                        align-items: center;
                        .h-kakao-time-text{
                            background-color: #A9CD00;
                            border-radius: 25px;
                            color: #fff;
                            font-weight: bold;
                            font-size: 12px;
                            margin-right: 5px;
                            padding: 0px 20px;
                            @include mq(max, 440){
                                font-size: 10px;
                            }
                        }
                        .h-kakao-time{
                            font-size: 16px;
                            font-weight: bold;
                            @include mq(max, 440){
                                font-size: 12px;
                            }
                        }
                    }
                }
                &.h-show-sp{
                    display: none;
                    @include mq(max,$mq_md){
                        display: block;
                    }
                }
            }
            .h-line{
                display: flex;
                align-items: center;
                img{
                    @include mq(max, $mq_md){
                        width: 100%;
                    }
                }
            }
        }
    }
}