.h-main-visual{
    background-color: #e8eea7;
    background-image: url('../img/main/mainbg.png');
    padding: 40px 0;
    position: relative;
    .cntr{
        position: relative;
    }
    .h-main-people-cleaning{
        position: absolute;
        right: 0;
        z-index: 0;
        @include mq(max, 900){
            bottom: -90px;
        }
        @include mq(max, 450){
            bottom: -50px;
        }
        img{
            @include mq(max, 900){
                width: 450px;
            }
            @include mq(max, 600){
                width: 400px;
            }
            @include mq(max, 450){
                width: 260px;
            }
            @include mq(max, 375){
                width: 220px;
            }
        }
    }
    .h-main-img{
        display: flex;
        align-items: center;
        position: relative;
        &.h-main-img02{
            margin-bottom: 15px;
            @include mq(max, 375){
                margin-top: 15px;
            }
        }
        .h-main01{
            @include mq(max, 900){
                width: 400px;
            }
            @include mq(max, 600){
                width: 300px;
            }
            @include mq(max, 450){
                width: 220px;
            }
            @include mq(max, 375){
                width: 180px;
            }
        }
        .h-main02{
            @include mq(max, 900){
                width: 200px;
                position: relative;
                top: 50px;
                right: 100px;
            }
            @include mq(max, 600){
                display: none;
            }
        }
        .h-main02sp{
            display: none;
            @include mq(max, 600){
                display: block;
                position: relative;
                left: -60px;
                bottom: -20px;
            }
            @include mq(max, 375){
                bottom: -30px;
                left: -50px;
                width: 55px;
            }
        }
        .h-main03{
            @include mq(max, 900){
                width: 250px;
            }
            @include mq(max, 450){
                width: 180px;
            }
            @include mq(max, 375){
                width: 140px;
            }
        }
        .h-main04{
            display: none;
            @include mq(max, 900){
                position: absolute;
                right: 0;
                top: 100px;
            }
        }
    }
}

.h-clean-list-wrp{
    background-color: #A9CD00;
    position: relative;
    padding-bottom: 20px;
    &::before, &::after{
        content: "";
        position: absolute;
        top: -55px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 58px;
        max-width: 500px;
        width: 100%;
        z-index: 0;
        @include mq(max, 870){
            max-width: 380px;
            height: 45px;
            top: -30px;
        }
        @include mq(max, 560){
            top: -20px;
        }
    }
    &::before{
        background-image: url('../img/bggreen.png');
        left: 0;
    }
    &::after{
        background-image: url('../img/bggreen02.png');
        right: 0;
    }
    
}

.h-banner{
    padding-top: 50px;
    padding-bottom: 150px;
    position: relative;
    &::before, &::after{
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
    &::before{
        background-image: url('../img/icon/flower01.png');
        height: 263px;
        width: 423px;
        top: 10px;
        @include mq(max, 500){
            width: 100%;
        }
    }
    &::after{
        background-image: url('../img/icon/flower02.png');
        height: 181px;
        width: 190px;
        bottom: 50px;
        right: 0;
    }
    .h-person{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: -100px;
        padding: 0 40px;
        @include mq(max, 895){
            padding: 0 15px;
        }
        @include mq(max, 785){
            margin-left: -5px;
            margin-right: -5px;
        }
        li{
            display: flex;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
            @include mq(max, 785){
                padding-left: 5px;
                padding-right: 5px;
            }
            @include mq(max, $mq_md){
                margin-bottom: 10px;
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4){
                @include mq(max, $mq_md){
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-left: 250px;
                }
                @include mq(max, 500){
                    padding-left: 190px;
                }
                @include mq(max, 435){
                    padding-left: 145px;
                }
                @include mq(max, 365){
                    padding-left: 115px;
                }
            }
            &:nth-child(2){
                margin-top: 120px;
            }
            &:first-child{
                margin-bottom: 0;
                @include mq(max, $mq_md){
                    position: absolute;
                }
                img{
                    width: 234px;
                    @include mq(max, 500){
                        width: 180px;
                    }
                    @include mq(max, 435){
                        width: 140px;
                    }
                    @include mq(max, 365){
                        width: 120px;
                    }
                }
            }
            &:nth-child(2){
                .h-box{
                    .h-box-l{
                        br{
                            @include mq(max, 405){
                                display: block;
                            }
                        }
                    }
                }
            }
            &:nth-child(3){
                .h-box{
                    .h-box-l{
                        br{
                            @include mq(max, 417){
                                display: block;
                            }
                        }
                    }
                }
            }
            &:nth-child(4){
                .h-box{
                    .h-box-l{
                        br{
                            @include mq(max, 324){
                                display: block;
                            }
                        }
                    }
                }
            }
            .h-box{
                background-color: #FFD934;
                border-radius: 10px;
                display: flex;
                align-items: center;
                padding: 20px 20px;
                @include mq(max, 895){
                    padding: 10px 10px;
                }
                @include mq(max, $mq_md){
                    width: 100%;
                    padding: 15px 10px;
                    justify-content: space-between;
                }
                @include mq(max, 390){
                    padding: 10px 10px;
                }
                span{
                    br{
                        @include mq(max, $mq_md){
                            display: none;
                        }
                    }
                }
                .h-box-l{
                    font-size: 20px;
                    font-family: "rounded-heavy";
                    @include mq(max, 1000){
                        font-size: 16px;
                    }
                    @include mq(max, $mq_md){
                        margin-right: 10px;
                    }
                    @include mq(max, 340){
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
                .h-box-r{
                    color: #D14D00;
                    display: flex;
                    font-size: 80px;
                    font-family: "rounded-heavy";
                    line-height: 30px;
                    small{
                        font-size: 30px;
                        @include mq(max, 1000){
                            font-size: 20px;
                        }
                        @include mq(max, 490){
                            font-size: 16px;
                        }
                        @include mq(max, 390){
                            font-size: 12px;
                        }
                    }
                    @include mq(max, 1000){
                        font-size: 60px;
                    }
                    @include mq(max, 545){
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

.h-price-list{
    background-color: #E9EDAF;
    padding-top: 40px;
    padding-bottom: 40px;
    .h-table-list{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img{
            width: 100%;
        }
    }
}

.h-flow-inquiry{
    background-color: #F8F4EC;
    background-image: url('../img/main/mainbg02.png');
    background-repeat: repeat;
    padding-top: 40px;
    padding-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1950 - 320)));
    .h-title{
        h2{
            @include mq(max, 400){
                font-size: 14px;
            }
            @include mq(max, 320){
                font-size: 12px;
            }
        }
    }
}

.h-trouble{
    background-color: #B4B9C4;
    padding-top: 100px;
    padding-bottom: 140px;
    position: relative;
    &::before{
        content: "";
        background-image: url('../img/bggray01.png');
        background-repeat: repeat;
        position: absolute;
        top: -55px;
        width: 100%;
        height: 60px;
    }
}

.h-group-people{
    background-color: #9dcf00;
    background-image: url('../img/main/mainbg.png');
    background-repeat: repeat;
    padding: 20px 0;
    .h-group-people-text{
        display: flex;
        align-items: center;
        position: relative;
        @include mq(max, $mq_md){
            flex-wrap: wrap;
        }
        @include mq(max, 670){
            flex-direction: column-reverse;
        }
        .h-grouptext{
            @include mq(max, 870){
                width: 400px;
            }
        }
        .h-grouppeople{
            position: absolute;
            right: 0;
            bottom: 0;
            @include mq(max, 870){
                width: 250px;
            }
            @include mq(max, 670){
                position: static;
                margin-bottom: 20px;

            }
        }
        img{
            @include mq(max, 670){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

.h-contact-us{
    background-color: #F8F4EC;
    background-image: url('../img/main/mainbg02.png');
    background-repeat: repeat;
    padding-top: 70px;
    padding-bottom: 115px;
}

.h-blog{
    padding-top: 85px;
    padding-bottom: 85px;
}

.h-page-news{
    padding-bottom: calc(50px + (140 - 50) * ((100vw - 320px) / (1950 - 320)));
    &.h-page-news-details{
        background-color: #FCFCEE;
        .h-page-news-det-wrp{
            background-color: #fff;
            padding: 40px 25px;
            @include mq(max, $mq_md - 1){
                margin-bottom: 25px;
            }
            .h-page-news-det-date{
                display: block;
                font-family: "Hiragino Sans GB";
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 10px;
            }
            .h-page-news-det-cat{
                background-color: #E69930;
                border-radius: 25px;
                color: #fff;
                font-family: "Hiragino Sans GB";
                font-weight: bold;
                display: inline-block;
                padding: 0 15px;
                width: 110px;
                text-align: center;
                margin-bottom: 30px;
                &.other{
                    background-color: #81765D;
                }
                &.valuables{
                    background-color: #6BB000;
                }
                &.inheritance{
                    background-color: #A0D1C5;
                }
                &.heritage{
                    background-color: #E67730;
                }
                &.cleaning{
                    background-color: #A9CD00;
                }
                &.life{
                    background-color: #E6CF30;
                }
            }
            .h-page-news-det-img{
                display: flex;
                align-items: center;
                margin-bottom: 35px;
            }
            .h-page-news-det-title{
                border-left: 3px solid #AACE00;
                font-weight: bold;
                font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1950 - 320)));
                line-height: calc(30px + (40 - 30) * ((100vw - 320px) / (1950 - 320)));
                padding-left: 15px;
                margin-bottom: 25px;
            }
            .h-page-news-cont{
                p{
                    margin-bottom: 25px;
                    font-size: 15px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                h2{
                    font-weight: bold;
                    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1950 - 320)));
                    line-height: calc(35px + (45 - 35) * ((100vw - 320px) / (1950 - 320)));
                    margin-bottom: 15px;
                }
                h4{
                    font-size: 20px;
                    margin-bottom: 25px;
                }
                figure{
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    img{
                        width: 100%;
                    }
                }
                h5{
                    font-size: 18px;
                    border-bottom: 1px solid #E7E7E7;
                    padding-bottom: 10px;
                    margin-bottom: 25px;
                }
                .wp-block-columns{
                    margin-bottom: 0;
                }
                .wp-block-column{
                    @include mq(max, 781){
                        flex-basis: calc(100%)!important;
                        margin-left: 0;
                    }
                    figure{
                        @include mq(max, 781){
                            margin-bottom: 0;
                        }
                        .blocks-gallery-grid{
                            @include mq(max, $mq_md){
                                width: 100%;
                            }
                        }
                    }
                    .blocks-gallery-grid{
                        padding-left: 0;
                    }
                }
                table{
                    tbody{
                        tr{
                            td{
                                border: 1px solid #beb8ae;
                                padding: 15px 15px;
                                @include mq(max, 425){
                                    font-size: 14px;
                                }
                                &:first-child{
                                    background-color: #EAEEB0;
                                    font-weight: bold;
                                    width: 135px;
                                }
                            }
                        }
                    }
                }
                ul{
                    list-style: disc;
                    padding-left: 20px;
                    margin-bottom: 30px;
                }
                ol{
                    list-style: decimal;
                    padding-left: 20px;
                    margin-bottom: 30px;
                }
            }
            .h-page-news-tags{
                margin-bottom: 50px;
                h4{
                    border-bottom: 2px solid #AACE00;
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 12px;
                    position: relative;
                    padding-left: 35px;
                    padding-bottom: 10px;
                    &::before{
                        content: url('../img/icon/tag.png');
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }
}