.h-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    button, a{
        border: none;
        border-radius: 50px;
        background: rgb(255,217,52);
        background: -moz-linear-gradient(90deg, rgba(255,217,52,1) 0%, rgba(255,151,0,1) 50%);
        background: -webkit-linear-gradient(90deg, rgba(255,217,52,1) 0%, rgba(255,151,0,1) 50%);
        background: linear-gradient(90deg, rgba(255,217,52,1) 0%, rgba(255,151,0,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd934",endColorstr="#ff9700",GradientType=1);
        color: #fff;
        cursor: pointer;
        font-family: "Hiragino Sans GB";
        font-weight: bold;
        font-size: 20px;
        padding: 7px 15px;
        width: 310px;
        position: relative;
        text-align: center;
        text-decoration: none;
        &::before{
            content: url('../img/icon/arrow-right.png');
            display: flex;
            align-items: center;
            position: absolute;
            right: 25px;
            top: 11px;
        }
    }
    &.h-btn-green{
        button, a{
            background: rgb(84,181,33);
            background: -moz-linear-gradient(90deg, rgba(84,181,33,1) 0%, rgba(183,218,0,1) 50%);
            background: -webkit-linear-gradient(90deg, rgba(84,181,33,1) 0%, rgba(183,218,0,1) 50%);
            background: linear-gradient(90deg, rgba(84,181,33,1) 0%, rgba(183,218,0,1) 50%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#54b521",endColorstr="#b7da00",GradientType=1);
        }
    }
}