.h-card{
    background-color: #fff;
    border-radius: 25px;
    color: #2D1C00;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    min-height: 355px;
    padding: 15px 15px;
    text-decoration: none;
    position: relative;
    .h-card-count{
        background-color: #C0DA45;
        border-radius: 15px;
        color: #fff;
        display: flex;
        font-size: 30px;
        font-family: "rounded-heavy";
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin: auto;
        width: 70px;
        height: 70px;
        &.h-card-count2{
            background-color: #A9CD00;
        }
        &.h-card-count3{
            background-color: #7EB600;
        }
        &.h-card-count4{
            background-color: #54AD00;
        }
    }
    .h-card-img{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        flex: 0 0 100%;
        max-width: 100%;
        img{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            height: 195px;
            object-fit: cover;
        }
    }
    .h-card-cont{
        .h-card-title{
            font-family: "rounded-bold";
            font-size: 23px;
            text-align: center;
            margin-bottom: 10px;
        }
        .h-card-desc{
            font-family: "Hiragino Sans GB";
            font-weight: bold;
        }
    }
}

.h-card-wrp-people{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    @include mq(max, $mq_md){
        justify-content: flex-start;
    }
    li{
        padding-left: 15px;
        padding-right: 15px;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        margin-bottom: 25px;
        @include mq(max, $mq_md){
            flex: 0 0 50%;
            max-width: 50%;
        }
        .h-card-people{
            .h-card-people-img{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    @include mq(max, 500){
                        width: 100%;
                    }
                }
            }
            .h-card-people-text{
                background-color: #A9CD00;
                border-radius: 25px;
                font-family: "rounded-bold";
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 10px;
                margin-top: -33px;
                margin-left: auto;
                margin-right: auto;
                z-index: 1;
                max-width: 180px;
                width: 100%;
                position: relative;
                @include mq(max, 425){
                    font-size: 14px;
                }
            }
        }
    }
}

.h-card-banner{
    background-color: #A9CD00;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    .h-card-banner-tit{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + (22 - 10) * ((100vw - 320px) / (1950 - 320)));
        line-height: calc(14px + (32 - 14) * ((100vw - 320px) / (1950 - 320)));;
        font-family: "rounded-medium";
        padding: 10px 10px;
    }
    .h-banner-social{
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        @include mq(max, $mq_md){
            padding: 0 10px;
        }
        li{
            flex: 0 0 50%;
            max-width: 50%;
            border-right: 2px dashed #2D1C00;
            @include mq(max, $mq_md){
                flex: 0 0 100%;
                max-width: 100%;
                border-right: 0;
                border-bottom: 1px dashed #2D1C00;
            }
            &:last-child{
                border-right: 0;
                @include mq(max, $mq_md){
                    border-bottom: 0;
                }
                .h-card-banner-wrp{
                    .h-card-banner-tit{
                        background-color: #FFEFAA;
                    }
                }
            }
            a{
                text-decoration: none;
            }
            .h-card-banner-img{
                display: flex;
                align-items: center;
                img{
                    width: 93%;
                }
            }
            .h-card-banner-wrp{
                padding: 30px 30px;
                @include mq(max, 410){
                    padding: 20px 10px;
                }
                @include mq(max, 375){
                    padding: 20px 0px;
                }
                .h-card-banner-tit{
                    background-color: #E9EDAF;
                    border-radius: 25px;
                    color: #2D1C00;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                }
                .h-kakao{
                    color: #2D1C00;
                    display: inline-block;
                    text-decoration: none;
                    font-family: "Hiragino Sans GB";
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                    img{
                        @include mq(max, 950){
                            width: 100%;
                        }
                        @include mq(max, $mq_md){
                            width: auto;
                        }
                        @include mq(max, 525){
                            width: 100%;
                        }
                    }
                    .h-kakao-num{
                        font-weight: bold;
                        font-size: calc(30px + (45 - 30) * ((100vw - 768px) / (1950 - 768)));
                        line-height: calc(30px + (45 - 30) * ((100vw - 768px) / (1950 - 768)));
                        margin-bottom: 20px;
                        position: relative;
                        padding-left: 60px;
                        @include mq(max, 375){
                            font-size: 20px;
                            padding-left: 40px;
                        }
                        &::before{
                            content: "";
                            background-image: url(../img/icon/icon01.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            width: 55px;
                            height: 35px;
                            @include mq(max, 375){
                                width: 30px;
                                height: 20px;
                            }
                        }
                    }
                    .h-kakao-sched{
                        display: flex;
                        align-items: center;
                        margin-top: 20px;
                        .h-kakao-time-text{
                            background-color: #A9CD00;
                            border-radius: 25px;
                            color: #fff;
                            font-weight: bold;
                            font-size: 12px;
                            margin-right: 5px;
                            padding: 0px 20px;
                            @include mq(max, 370){
                                font-size: 10px;
                                padding: 0px 10px;
                            }
                        }
                        .h-kakao-time{
                            font-size: 16px;
                            font-weight: bold;
                            @include mq(max, 850){
                                font-size: 12px;
                            }
                        }
                    }
                }
                .h-banner-talk{
                    display: flex;
                    align-items: center;
                    margin-left: -5px;
                    margin-right: -5px;
                    .h-line{
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        flex: 0 0 50%;
                        max-width: 50%;
                        @include mq(max, $mq_md){
                            justify-content: center;
                        }
                        img{
                            width: 100%;
                            @include mq(max, $mq_md){
                                width: auto;
                            }
                            @include mq(max, 550){
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &.h-card-bannerv2{
        margin-bottom: 45px;
        .h-card-banner-tit{
            h4{
                padding-left: 100px;
                @include mq(max, $mq_md){
                    padding-left: 180px;
                }
                @include mq(max, 440){
                    padding-left: 130px;
                }
                @include mq(max, 375){
                    padding-left: 93px;
                }
            }
        }
        .h-banner-social{
            padding-left: 65px;
            padding-right: 65px;
            position: relative;
            @include mq(max, $mq_md){
                padding-left: 10px;
                padding-right: 10px;
            }
            li{
                border-right: 0;
                &:first-child{
                    flex: 0 0 40%;
                    max-width: 40%;
                    @include mq(max, $mq_md){
                        border-bottom: 0;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                &:last-child{
                    flex: 0 0 60%;
                    max-width: 60%;
                    @include mq(max, $mq_md){
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-top: -20px;
                    }
                    .h-card-banner-wrp{
                        padding-left: 0;
                        padding-right: 0;
                        .h-card-banner-tit{
                            background-color: #E9EDAF;
                        }
                    }
                }
                .h-card-banner-img{
                    margin-top: -100px;
                    img{
                        @include mq(max, $mq_md){
                            width: auto;
                        }
                        @include mq(max, 450){
                            width: 200px;
                        }
                    }
                }
                .h-card-banner-wrp{
                    @include mq(max, $mq_md){
                        padding-top: 0;
                    }
                }
            }
        }
    }
}