.h-form-box{
    background-color: #fff;
    border-radius: 25px;
    padding: 40px 30px;
    margin-bottom: 60px;
    @include mq(max, $mq_md){
        padding: 20px 20px;
    }
    .h-form-tit{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Hiragino Sans GB";
        font-weight: bold;
        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1950 - 320)));
        margin-bottom: 55px;
        text-align: center;
    }
}

.h-form-group{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
    .h-form-label{
        flex: 0 0 40%;
        max-width: 40%;
        font-family: "Hiragino Sans GB";
        font-weight: bold;
        font-size: 20px;
        @include mq(max, 830){
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include mq(max, $mq_md){
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 10px;
        }
        @include mq(max, 400){
            font-size: 14px;
        }
        .h-essential{
            background-color: #A9CD00;
            border-radius: 10px;
            color: #fff;
            display: inline-block;
            padding: 6px 10px;
            width: 120px;
            text-align: center;
            margin-right: 25px;
            @include mq(max, 400){
                border-radius: 5px;
                margin-right: 15px;
                width: 80px;
            }
        }
    }
    .h-input-box{
        flex: 0 0 60%;
        max-width: 60%;
        @include mq(max, 830){
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include mq(max, $mq_md){
            flex: 0 0 100%;
            max-width: 100%;
        }
        .h-form-control{
            border: 1px solid #BCB7AE;
            font-family: "Hiragino Sans GB";
            font-weight: bold;
            width: 100%;
            padding: 10px 10px;
            height: 55px;
            border-radius: 10px;
            &::placeholder{
                color: #BCB7AE;
                font-family: "Hiragino Sans GB";
                font-weight: bold;
            }
        }
        textarea.h-form-control{
            resize: none;
            height: 290px;
        }
    }
}

.h-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 25px;
    label{
        font-family: "Hiragino Sans GB";
        font-weight: bold;
        font-size: 20px;
        @include mq(max, 520){
            font-size: 14px;
        }
    }
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    line-height: 25px;
    display: inline-block;
    color: #2D1C00;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #2D1C00;
    background: #fff;
    border-radius: 3px;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 10px;
    height: 10px;
    background: #A9CD00;
    position: absolute;
    top: 7px;
    left: 7px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(1.6);
}
[type="checkbox"]:disabled:checked + label:before,
[type="checkbox"]:disabled:not(:checked) + label:before
{
    border-color: #ccc;
    background-color: #eee;
}
[type="checkbox"]:disabled:checked + label:after
{
    background: #aaa;
}

.h-agreement{
    border: 1px solid #BCB7AE;
    font-family: "Hiragino Sans GB";
    font-weight: bold;
    padding: 20px 20px;
    height: 215px;
    overflow-y: scroll;
}

