.h-trouble-list{
    max-width: 775px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    li{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        .h-trouble-list-item{
            background-color: #fff;
            border-radius: 50px;
            padding: 20px 15px;
            h4{
                font-family: "rounded-medium";
                font-size: 25px;
                line-height: 35px;
                padding-left: 100px;
                position: relative;
                @include mq(max, $mq_md){
                    font-size: 16px;
                    line-height: normal;
                    padding-left: 75px;
                }
                @include mq(max, 375){
                    font-size: 14px;
                }
                &::before{
                    content: "";
                    background-image: url('../img/icon/check01.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 30px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 45px;
                    height: 31px;
                    @include mq(max, $mq_md){
                        width: 30px;
                        height: 23px;
                    }
                }
                span{
                    color: #D14D00;
                }
            }
        }
    }
}

.h-blog-list{
    margin-bottom: 85px;
    li{
        display: flex;
        &:last-child{
            .h-blog-list-item{
                border-bottom: 1px solid #BDB7AD;
            }
        }
        .h-blog-list-item{
            border-top: 1px solid #BDB7AD;
            color: #2D1C00;
            display: inline-block;
            font-family: "Hiragino Sans GB";
            font-weight: bold;
            padding-top: 30px;
            padding-bottom: 30px;
            text-decoration: none;
            width: 100%;
            .h-blog-date-cat{
                margin-bottom: 10px;
                .h-blog-date{
                    margin-right: 20px;
                }
                .h-blog-cat{
                    background-color: #E69930;
                    border-radius: 25px;
                    color: #fff;
                    display: inline-block;
                    font-size: 15px;
                    padding: 0 15px;
                    width: 110px;
                    text-align: center;
                    &.other{
                        background-color: #81765D;
                    }
                    &.valuables{
                        background-color: #6BB000;
                    }
                    &.inheritance{
                        background-color: #A0D1C5;
                    }
                    &.heritage{
                        background-color: #E67730;
                    }
                    &.cleaning{
                        background-color: #A9CD00;
                    }
                    &.life{
                        background-color: #E6CF30;
                    }
                }
            }
            .h-blog-title{
                font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1950 - 320)));
            }
        }
    }
}

.h-breadcrumbs{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    @include mq(max, 1000){
        padding-left: 15px;
        padding-right: 15px;
    }
    li{
        &:nth-child(2){
            a{
                @include mq(max, 645){
                    width: 100px;
                }
            }
        }
        a, span{
            color: #2D1C00;
            display: flex;
            text-decoration: none;
            font-family: "Hiragino Sans GB";
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            @include mq(max, 850){
                font-size: 12px;
            }
        }
        a{
            padding-right: 18px;
            margin-right: 12px;
            &::before{
                content: url('../img/icon/arrow.png');
                right: 0;
                position: absolute;
            }
        }
    }
}

.h-page-news-list{
    @include mq(max, $mq_md - 1){
        margin-bottom: 25px;
    }
    li{
        &:last-child{
            .h-page-news-list-item{
                margin-bottom: 0;
            }
        }
        .h-page-news-list-item{
            background-color: #fff;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            color: #2D1C00;
            font-family: "Hiragino Sans GB";
            font-weight: bold;
            display: flex;
            align-items: flex-start;
            margin-bottom: 25px;
            padding: 10px 10px;
            text-decoration: none;
            .h-page-news-img{
                display: flex;
                align-items: center;
                max-width: 240px;
                width: 100%;
                @include mq(max, $mq_md){
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @include mq(max, 500){
                    flex: 0 0 40%;
                    max-width: 40%;
                }
                img{
                    width: 100%;
                    border-radius: 15px;
                }
            }
            .h-page-news-cont{
                padding: 0 10px;
                @include mq(max, $mq_md){
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @include mq(max, 500){
                    flex: 0 0 60%;
                    max-width: 60%;
                }
                .h-page-news-date{
                    display: block;
                    margin-bottom: 10px;
                }
                .h-page-news-cat{
                    background-color: #E79A30;
                    border-radius: 25px;
                    color: #fff;
                    font-size: 15px;
                    margin-bottom: 15px;
                    padding: 0 15px;
                    width: 110px;
                    display: inline-block;
                    text-align: center;
                    &.other{
                        background-color: #81765D;
                    }
                    &.valuables{
                        background-color: #6BB000;
                    }
                    &.inheritance{
                        background-color: #A0D1C5;
                    }
                    &.heritage{
                        background-color: #E67730;
                    }
                    &.cleaning{
                        background-color: #A9CD00;
                    }
                    &.life{
                        background-color: #E6CF30;
                    }
                }
                .h-page-news-title{
                    @include mq(max, 425){
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}

.h-sidebar-post{
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 25px;
    padding: 20px 10px;
    margin-bottom: 25px;
    .h-side-tit{
        border-bottom: 2px solid #9ED000;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    &.h-sidebar-postv2{
        .h-popular-posts{
            display: inline-block;
            width: 100%;
            li{
                &:last-child{
                    .h-popular-item{
                        margin-bottom: 0;
                    }
                }
                .h-popular-item{
                    border-bottom: 1px solid #D8D8D8;
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    padding: 5px 0;
                    position: relative;
                    &::before{
                        content: url('../img/icon/arrow.png');
                        position: absolute;
                        right: 0;
                    }
                    .h-popular-title{
                        padding-left: 0;
                    }
                }
            }
        }
    }
    &.h-sidebar-post-cat{
        .h-popular-posts{
            display: inline-block;
            width: 100%;
            li{
                &:last-child{
                    margin-bottom: 0;
                }
                border-bottom: 1px solid #D8D8D8;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                padding: 5px 0;
                position: relative;
                &::before{
                    content: url('../img/icon/arrow.png');
                    position: absolute;
                    right: 0;
                }
                .h-popular-title{
                    padding-left: 0;
                }
                a{
                    color: #2D1C00;
                    text-decoration: none;
                }
            }
        }
    }
}

.h-popular-posts{
    li{
        display: inline-block;
        width: 100%;
        &:last-child{
            margin-bottom: 0;
            .h-popular-item{
                margin-bottom: 0;
            }
        }
        .h-popular-item{
            color: #2D1C00;
            display: flex;
            text-decoration: none;
            margin-bottom: 15px;
            .h-popular-img{
                display: flex;
                align-items: center;
                flex: 0 0 40%;
                max-width: 40%;
                img{
                    width: 100%;
                }
            }
            .h-popular-title{
                padding-left: 10px;
            }
        }
    }
    &.h-popular-posts-year{
        li{
            display: none;
            &.year-list{
                display: block;
                &:last-child{
                    a{
                        margin-bottom: 0;
                    }
                }
                a{
                    color: #2D1C00;
                    border-bottom: 1px solid #D8D8D8;
                    display: flex;
                    text-decoration: none;
                    margin-bottom: 15px;
                    padding: 5px 0;
                    position: relative;
                    &::before{
                        content: url('../img/icon/arrow.png');
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
    }
}

.h-tag-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li{
        display: flex;
        margin-right: 10px;
        margin-bottom: 10px;
        a{
            background-color: #EAEEB0;
            color: #333333;
            text-decoration: none;
            padding: 8px 8px;
        }
    }
}

.h-page-news-pager{
    border-top: 1px solid #e1e1e1;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    .h-pager-name-prev, .h-pager-name-next{
        flex: 0 0 50%;
        max-width: 50%;
        h3{
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .h-pager-name-prev{
        border-right: 1px solid #e1e1e1;
    }
    .h-pager-name-next{
        a{
            flex-direction: row-reverse;
        }
        h3{
            text-align: right;
        }
    }
    a{
        color: #333;
        font-size: 15px;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        @include mq(max, 530){
            padding: 10px;
        }
        img{
            border-radius: 15px;
            flex: 0 0 50%;
            max-width: 50%;
            height: 100%;
            object-fit: cover;
            @include mq(max, 530){
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 10px;
            }
        }
        h4{
            padding: 0px 10px;
            @include mq(max, 530){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

.h-pagination{
    margin-top: 85px;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            &:last-child{
                .page-numbers{
                    margin-right: 0;
                }
            }
            .page-numbers{
                background-color: #EFEFEF;
                color: #D7D7D7;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Hiragino Sans GB";
                font-weight: bold;
                margin-right: 10px;
                width: 40px;
                height: 40px;
                &.current{
                    background-color: #AACE00;
                    color: #fff;
                }
                &.prev, &.next{
                    background-color: #AACE00;
                    color: #fff;
                    border-radius: 50px;
                    font-size: 14px;
                    height: 25px;
                    width: 25px;
                }
            }
            a{
                color: #2D1C00;
                text-decoration: none;
            }
        }
    }
}

.main-text-list-new{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-left: -5px;
    margin-right: -5px;
    li{
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
        @include mq(max, 414){
            flex: 0 0 100%;
            max-width: 100%;
        }
        img{
            width: 100%;
            @include mq(max, 414){
                width: auto;
            }
        }
        .main-pc{
            display: block;
            @include mq(max, 414){
                display: none;
            }
        }
        .main-sp{
            display: none;
            @include mq(max, 414){
                display: block;
            }
        }
    }
}

.h-clean-lists{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: -5px;
    z-index: 1;
    li{
        padding-left: 5px;
        padding-right: 5px;
        flex: 0 0 12.5%;
        max-width: 12.5%;
        @include mq(max, 870){
            flex: 0 0 25%;
            max-width: 25%;
        }
        @include mq(max, 560){
            padding-left: 0;
            padding-right: 0;
        }
        .h-clean-round{
            background-color: #fff;
            border: 3px solid #A9CD00;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 120px;
            width: 120px;
            @include mq(max, 1050){
                height: 100px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
            }
            @include mq(max, 870){
                height: 120px;
                width: 120px;
            }
            @include mq(max, 560){
                height: 80px;
                width: 80px;
            }
            @include mq(max, 375){
                height: 70px;
                width: 70px;
            }
            .h-clean-img{
                text-align: center;
                p{
                    font-size: 12px;
                    line-height: 12px;
                    font-family: "rounded-medium";
                    @include mq(max, 560){
                        font-size: 8px;
                    }
                }
                img{
                    @include mq(max, 1050){
                        width: 50%;
                    }
                }
            }
        }
    }
}