.h-slant-title{
    text-align: center;
    p, h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p{
        margin-bottom: 10px;
        img{
            @include mq(max, 440){
                width: 100%;
            }
        }
    }
    h2{
        font-family: "rounded-bold";
        font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1950 - 320)));
        line-height: calc(30px + (70 - 30) * ((100vw - 320px) / (1950 - 320)));
    }
}

.h-title{
    text-align: center;
    margin-bottom: 60px;
    &.h-title-def{
        h2{
            &::before, &::after{
                filter: none;
            }
        }
    }
    h2{
        display: inline-block;
        font-family: "rounded-bold";
        font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1950 - 320)));
        line-height: calc(30px + (45 - 30) * ((100vw - 320px) / (1950 - 320)));
        margin-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
        position: relative;
        &::before, &::after{
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 41px;
            height: 9px;
            filter: brightness(0) invert(1);
        }
        &::before{
            background-image: url('../img/icon/dotted.png');
            left: 0;
        }
        &::after{
            background-image: url('../img/icon/dotted.png');
            right: 0;
        }
    }
    p{
        font-family: "Hiragino Sans GB";
        font-weight: bold;
    }
}

.h-title-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    h3{
        font-family: "rounded-bold";
        font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1950 - 320)));
        line-height: calc(26px + (40 - 26) * ((100vw - 320px) / (1950 - 320)));
        text-align: center;
    }
    &.h-title-sec-sm{
        margin-bottom: 0;
        margin-top: 60px;
        @include mq(max, $mq_md){
            margin-top: 10px;
        }
        h3{
            font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1950 - 320)));
            line-height: calc(20px + (30 - 20) * ((100vw - 320px) / (1950 - 320)));
        }
    }
}

.h-tagline-title{
    background-color: #e8eea7;
    background-image: url('../img/main/mainbg.png');
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before, &::after{
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }
    &::after{
        background-image: url('../img/icon/flower04.png');
        bottom: 0;
        height: 148px;
        width: 112px;
        right: 0;
    }
    &::before{
        background-image: url('../img/icon/flower03.png');
        top: 0;
        left: 0;
        width: 118px;
        height: 138px;
    }
    h4{
        font-size: calc(18px + (35 - 18) * ((100vw - 320px) / (1950 - 320)));
        line-height: calc(28px + (45 - 28) * ((100vw - 320px) / (1950 - 320)));
        font-family: "rounded-bold";
        text-align: center;
        position: relative;
        z-index: 1;
    }
}

.h-tagline-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "rounded-bold";
    font-size: calc(18px + (35 - 18) * ((100vw - 320px) / (1950 - 320)));
    line-height: calc(30px + (45 - 30) * ((100vw - 320px) / (1950 - 320)));
    margin-bottom: 25px;
    margin-top: 10px;
    text-align: center;
}